<!--
td {
	font-size: 9pt;	color: #000000;
}

a:hover {
	font-size: 9pt;	color: #FF0000;
	text-decoration:underline
}
a {
	font-size: 9pt;	text-decoration: none;	color: black;
	noline:expression(this.onfocus=this.blur);
}
input {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;

}
body {
	margin: 0px;
}
form{
	padding:0px;
	margin:0px;
}
.textarea {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
#notClickDiv{filter:alpha(Opacity=35);opacity:0.35;
	background:#000000;
	position:absolute;
	display:block;
	z-index:9;
	top:0px;
	left:0px;
}
.noborder{
border-style:none;
}
-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">